@import "@fontsource/mulish/variable.css";
@import "nprogress/nprogress.css";

@import "variables.scss";

@import "bulma-slider";

// Bulma needs to be last!
@import "bulma/bulma.sass";

.max-width-is-mobile {
  max-width: $mobile !important;
}

.max-width-is-tablet {
  max-width: $tablet !important;
}

#nprogress .bar {
  background: $kodak;
  height: 3px;
}

#nprogress .peg {
  box-shadow: none;
}

.is-flex-gap-1 {
  gap: 0.25rem;
}
.is-flex-gap-2 {
  gap: 0.5rem;
}
.is-flex-gap-3 {
  gap: 0.75rem;
}
.is-flex-grow-10 {
  flex-grow: 10;
}

.overflow-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.y-overflow-scroll {
  // handle overflow scrolling
  flex-basis: 0;
  overflow-y: scroll;
}
