@import "@fontsource/mulish/variable.css";
@import "nprogress/nprogress.css";

@import "variables.scss";

@import "bulma/bulma.sass";

.max-width-is-mobile {
  max-width: $mobile !important;
}

#nprogress .bar {
  background: $kodak;
  height: 3px;
}

#nprogress .peg {
  box-shadow: none;
}
