@import "./colors.scss";

/*
|--------------------------------------------------------------------------
| Global Variables
|--------------------------------------------------------------------------
*/
$border: $portra;
$mobile: 414px;

// Override these to add negative margins
$spacing-values: (
  "n3": -0.75rem,
  "n2": -0.5rem,
  "n1": -0.25rem,
  "auto": auto,
  0: 0,
  1: 0.25rem,
  2: 0.5rem,
  3: 0.75rem,
  4: 1rem,
  5: 1.5rem,
  6: 3rem,
);

/*
|--------------------------------------------------------------------------
| Bulma Overrides
|--------------------------------------------------------------------------

| --------------------
| Color Overrides
*/
$primary: $fuji;
$info: $portra;
$link: $fuji-underexposed;
$success: $fuji-underexposed;
$text: $black;

$body-background-color: $portra-overexposed;

/* 
| --------------------
| Font Styles
*/
$family-primary: "MulishVariable", sans-serif;
$family-sans-serif: "MulishVariable", sans-serif;

$title-weight: 1000;

/* 
| --------------------
| Input Styles
*/
$input-color: $portra-underexposed;
$input-border-color: $border;
$input-focus-border-color: $portra;
$input-focus-box-shadow-size: 0;
textarea:focus,
input:focus {
  border-width: 2px;
}
label.label {
  color: $black;
  margin-left: 0.25rem;

  &:not(:last-child) {
    margin-bottom: 0;
  }
}
.select:not(.is-multiple):not(.is-loading) {
  &::after {
    border-color: $black !important;
  }
  &:hover::after {
    border-color: $fuji-underexposed !important;
  }
}

// dropdowns
$dropdown-item-hover-background-color: $fuji-overexposed;

// sliders
$slider-track-background: $portra;
$slider-thumb-border: 1px solid $portra-underexposed;
$slider-thumb-to-track-ratio: 3;
input[type="range"].slider {
  margin: 0 !important;
}

/* 
| --------------------
| Navbar Styles
*/
$navbar-background-color: $white;
$navbar-height: 6rem;

/* 
| --------------------
| Footer Styles
*/
$footer-background-color: $portra;
$footer-padding: 1rem 0;

/* 
| --------------------
| Button Styles
*/
$button-color: $black;
$button-text-color: $black;

button.is-icon-rounded {
  border-radius: 50%;
}

/* 
| --------------------
| Table Styles
*/
.table-border {
  border: solid 1px $portra-underexposed;
  border-radius: 4px;
}
